@supports (height: 0svh) {
    :root {
        --vbody: calc(100svh - var(--vhead) - var(--vfoot));
    }
}

@supports (backdrop-filter: blur(0)) {
    .screening {
        background-color: #80808008;
    }
}